<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.messages.each do |field, msgs| %>
        <li><%= msgs.join(' ') %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Said by', class: 'input-post-title' %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Quote it here', class: 'input-post-content' %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
