<!DOCTYPE html>
<html>
<head>
  <title>Biggest quotes collection</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Biggest quotes collection by famous people around the world">
</head>
<body>

  <%= render 'shared/header' %>
  <% if notice.present? %>
    <p id='notice'><%= notice %></p>
  <% end %>
  <div class='wrapper'>
    <div class='body'>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
