<!DOCTYPE html>
<html>
<head>
  <title>The Amazing Factory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/header' %>
  <% if notice.present? %>
    <p id='notice'><%= notice %></p>
  <% end %>
  <div class='wrapper'>
    <div class='body'>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
